:root {
  --main-text-color: #ffffff; /* Blanc pour le texte principal */
  --background-color: #283739; /* Couleur de fond */
  --link-color: #a2c11c; /* Couleur des liens */
  --link-hover-color: #2c5d63; /* Couleur des liens au survol */
  --heading-color: #e0e0e0; /* Couleur des titres */
  --heading-background: #2c5d63; /* Arrière-plan des titres */
  --heading-link-color: #ffffff; /* Couleur des liens dans les titres */
  --subheading-color: #ffffff; /* Couleur des sous-titres */
  --code-background: #f0f0f0; /* Arrière-plan du code */
  --nav-background: #283739; /* Arrière-plan de la navigation */
  --nav-text-color: #ffffff; /* Couleur du texte de la navigation */
  --nav-subtext-color: #a2c11c; /* Couleur du sous-texte de la navigation */
  --important-color: #a2c11c; /* Couleur des éléments importants */
  --signature-color: #ffffff; /* Couleur des signatures */
  --footer-text-color: #ffffff; /* Couleur du texte du pied de page */
  --overlay-color: rgba(0, 0, 0, 0.5); /* Couleur de superposition semi-transparente */
  --code-caption-color: #283739; /* Couleur des légendes de code */
  --table-border-color: #283739; /* Couleur de la bordure du tableau */
  --table-background: #ffffff; /* Fond des tableaux */
  --table-text-color: #283739; /* Couleur du texte du tableau */
  --table-heading-background: #2c5d63; /* Arrière-plan de l'en-tête du tableau */
  --table-heading-text-color: #ffffff; /* Couleur du texte de l'en-tête du tableau */
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

a,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

article a {
  border-bottom: 1px solid var(--main-text-color);
}

article a:hover, article a:active {
  border-bottom-color: var(--link-hover-color);
}

article .description a {
  word-break: break-word;
}

p, ul, ol, blockquote {
  margin-bottom: 1em;
  line-height: 160%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 400;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  margin: 1em 0 .5em;
}

h1.page-title {
  font-size: 48px;
  margin: 1em 30px;
  line-height: 100%;
  word-wrap: break-word;
}

h2 {
  font-size: 24px;
  margin: 1.5em 0 .3em;
}

h3 {
  font-size: 24px;
  margin: 1.2em 0 .3em;
}

h4 {
  font-size: 18px;
  margin: 1em 0 .2em;
  color: var(--main-text-color);
}

h4.name {
  color: #fff;
  background: var(--heading-background);
  box-shadow: 0 .25em .5em #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin: 1.5em 0 0.5em;
  padding: .75em 0 .75em 10px;
}

h4.name a {
  color: var(--heading-link-color);
}

h4.name a:hover {
  border-bottom-color: var(--heading-link-color);
}

h5, .container-overview .subsection-title {
  font-size: 120%;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

.usertext h1 {
  font-family: "Source Sans Pro";
  font-size: 24px;
  margin: 2.5em 0 1em;
  font-weight: 400;
}

.usertext h2 {
  font-family: "Source Sans Pro";
  font-size: 18px;
  margin: 2em 0 0.5em;
  font-weight: 400;
}

.usertext h3 {
  font-family: "Source Sans Pro";
  font-size: 15px;
  margin: 1.5em 0 0;
  font-weight: 400;
}

.usertext h4 {
  font-family: "Source Sans Pro";
  font-size: 14px;
  margin: 0 0 0;
  font-weight: 400;
}

.usertext h5 {
  font-size: 12px;
  margin: 1em 0 0;
  font-weight: normal;
  color: var(--subheading-color);
}

.usertext h6 {
  font-size: 11px;
  margin: 1em 0 0;
  font-weight: normal;
  font-style: normal;
  color: var(--subheading-color);
}

tt, code, kbd, samp {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  background: var(--code-background);
  padding: 1px 5px;
}

.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0;
}

#main {
  float: right;
  width: calc(100% - 240px);
}

header {
  display: block;
}

section {
  display: block;
  background-color: var(--background-color);
  padding: 0 0 0 30px;
}

.variation {
  display: none;
}

.signature-attributes {
  font-size: 60%;
  color: #eee;
  font-style: italic;
  font-weight: lighter;
}

nav {
  float: left;
  display: block;
  width: 250px;
  background: var(--nav-background);
  overflow: auto;
  position: fixed;
  height: 100%;
}

nav #nav-search {
  width: 210px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 20px;
  margin-top: 20px;
}

nav.wrap a {
  word-wrap: break-word;
}

nav h3 {
  margin-top: 12px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0 10px;
  padding: 0;
  color: var(--main-text-color);
}

nav ul {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul a,
nav ul a:active {
  font-family: 'Montserrat', sans-serif;
  line-height: 18px;
  padding: 0;
  display: block;
  font-size: 12px;
}

nav a:hover,
nav a:active {
  color: var(--link-color);
}

nav > ul {
  padding: 0 10px;
}

nav > ul > li > a {
  color: var(--link-color);
  margin-top: 10px;
}

nav ul ul a {
  color: var(--nav-subtext-color);
  border-left: 1px solid var(--nav-subtext-color);
}

nav ul ul a,
nav ul ul a:active {
  padding-left: 20px;
}

nav h2 {
  font-size: 13px;
  margin: 10px 0 0 0;
  padding: 0;
}

nav > h2 > a {
  margin: 10px 0 -10px;
  color: var(--link-color) !important;
}

footer {
  color: var(--footer-text-color);
  margin-left: 250px;
  display: block;
  padding: 15px;
  font-style: italic;
  font-size: 90%;
}

.ancestors {
  color: var(--subheading-color);
}

.ancestors a {
  color: var(--subheading-color) !important;
}

.clear {
  clear: both;
}

.important {
  font-weight: bold;
  color: var(--important-color);
}

.yes-def {
  text-indent: -1000px;
}

.type-signature {
  color: var(--signature-color);
}

.type-signature:last-child {
  color: #eee;
}

.name, .signature {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.signature {
  color: var(--heading-link-color);
}

.details {
  margin-top: 6px;
  border-left: 2px solid #DDD;
  line-height: 20px;
  font-size: 14px;
}

.details dt {
  width: auto;
  float: left;
  padding-left: 10px;
}

.details dd {
  margin-left: 70px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.details ul {
  margin: 0;
}

.details ul {
  list-style-type: none;
}

.details pre.prettyprint {
  margin: 0;
}

.details .object-value {
  padding-top: 0;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  font-size: 14px;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
  line-height: 18px;
  display: block;
  background-color: var(--table-background);
  color: var(--table-text-color);
}

.prettyprint code {
  line-height: 18px;
  display: block;
  background-color: var(--table-background);
  color: var(--main-text-color);
}

.prettyprint > code {
  padding: 15px;
}

.prettyprint .linenums code {
  padding: 0 15px;
}

.prettyprint .linenums li:first-of-type code {
  padding-top: 15px;
}

.prettyprint code span.line {
  display: inline-block;
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
  padding-left: 0;
}

.prettyprint.linenums li {
  border-left: 3px var(--table-border-color) solid;
}

.prettyprint.linenums li.selected, .prettyprint.linenums li.selected * {
  background-color: var(--table-background);
}

.prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.prettyprint.linenums li code:empty:after {
  content: "";
  display: inline-block;
  width: 0px;
}

table {
  border-spacing: 0;
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 14px;
  margin: 1em 0;
}

td, th {
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  display: table-cell;
}

thead tr, thead tr {
  background-color: var(--table-heading-background);
  font-weight: bold;
  border-bottom: 1px solid var(--table-border-color);
}

.params .type {
  white-space: nowrap;
}

.params code {
  white-space: pre;
}

.params td, .params .name, .props .name, .name code {
  color: var(--main-text-color);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 100%;
}

.params td {
  border-top: 1px solid #eee;
}

.params td.description > p:first-child, .props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child, .props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

span.param-type, .params td .param-type, .param-type dd {
  color: var(--link-color);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.param-type dt, .param-type dd {
  display: inline-block;
}

.param-type {
  margin: 14px 0;
}

.disabled {
  color: #454545;
}

/* navicon button */
.navicon-button {
  display: none;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .8;
}

.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}

.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}

.navicon-button .navicon:before, .navicon-button .navicon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
}

.navicon-button .navicon:after {
  top: auto;
  bottom: 0;
}

.navicon-button:hover .navicon:before {
  transform: translateY(6px);
}

.navicon-button:hover .navicon:after {
  transform: translateY(-6px);
}

@media screen and (max-width: 960px) {
  nav {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  #main {
    float: none;
    width: auto;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  nav {
    display: none;
  }

  .navicon-button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 2.0625rem 1.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* For responsive video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
